<div class="col-lg-6 col-sm-12">
  <span>Choisir une couleur :</span>
  <i class="fa fa-lightbulb-o"
     [colorPicker]="color.hexa"
     (colorPickerChange)="colorStream.next($event)"
     [cpPosition]="'bottom'"
     [cpOutputFormat]="'hex'"
     [cpAlphaChannel]="'disabled'"
     [style.color]="color.hexa"
  ></i>

</div>

<div class="showcolor" [style.background-color]="color.hexa"></div>
<!--[style.color]="color.hexa"-->
